.page-title {
  color: #00e5ff;
  margin-bottom: 25px;
}

.analytics-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.chart-card {
  background: #1b2430;
  padding: 22px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.chart-card h3 {
  color: #00e5ff;
  margin-bottom: 20px;
}

.full-width {
  grid-column: 1/3;
}
