.analytics-title {
  margin-bottom: 30px;
}

.analytics-title h1 {
  color: #ffffff;

  font-size: 34px;

  margin: 0;

  font-weight: 700;

  text-shadow: 0 0 18px rgba(0, 245, 255, 0.35);
}

.analytics-title p {
  margin-top: 8px;

  color: #8d9baa;

  font-size: 15px;
}

.analytics-summary {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 22px;

  margin-bottom: 30px;
}

.analytics-stat {
  display: flex;

  align-items: center;

  gap: 20px;

  padding: 25px;

  border-radius: 20px;

  background: linear-gradient(180deg, #11161d, #0b0f14);

  border: 1px solid rgba(0, 245, 255, 0.08);

  transition: 0.35s;

  box-shadow:
    0 0 25px rgba(0, 245, 255, 0.05),
    inset 0 0 15px rgba(255, 255, 255, 0.02);
}

.analytics-stat:hover {
  transform: translateY(-6px);

  border-color: #00f5ff;

  box-shadow: 0 0 25px rgba(0, 245, 255, 0.18);
}

.stat-icon {
  font-size: 34px;
}

.cyan {
  color: #00f5ff;
}

.green {
  color: #00ff88;
}

.orange {
  color: #ffb000;
}

.red {
  color: #ff3b5c;
}

.analytics-stat h2 {
  margin: 0;

  color: #ffffff;

  font-size: 32px;
}

.analytics-stat span {
  color: #8c98a8;

  font-size: 14px;
}

.analytics-grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 25px;
}

.chart-card {
  background: linear-gradient(180deg, #11161d, #0b0f14);

  padding: 25px;

  border-radius: 22px;

  border: 1px solid rgba(0, 245, 255, 0.08);

  transition: 0.35s;

  box-shadow:
    0 0 25px rgba(0, 245, 255, 0.05),
    inset 0 0 20px rgba(255, 255, 255, 0.02);
}

.chart-card:hover {
  transform: translateY(-5px);

  border-color: #00f5ff;

  box-shadow: 0 0 30px rgba(0, 245, 255, 0.16);
}

.chart-card h3 {
  margin-bottom: 20px;

  color: #ffffff;

  font-size: 22px;
}

.recharts-cartesian-grid line {
  stroke: #1c2837;
}

.recharts-text {
  fill: #8b99a8;
}

.recharts-default-tooltip {
  background: #0b0f14 !important;

  border: 1px solid #00f5ff !important;

  border-radius: 12px !important;
}

.recharts-legend-item-text {
  color: white !important;
}

@media (max-width: 1000px) {
  .analytics-summary {
    grid-template-columns: repeat(2, 1fr);
  }

  .analytics-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 650px) {
  .analytics-summary {
    grid-template-columns: 1fr;
  }
}
