.chart-card {
  margin-top: 25px;
  background: #1b2430;
  padding: 22px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.chart-card:hover {
  box-shadow: 0 0 25px rgba(0, 229, 255, 0.18);
}

.chart-card h3 {
  color: #00e5ff;
  margin-bottom: 20px;
  font-size: 22px;
}
