.page-title {
  font-size: 32px;
  color: #00f7ff;
  margin-bottom: 6px;
  text-shadow: 0 0 12px rgba(0, 255, 255, 0.35);
}

.page-subtitle {
  color: #7d8898;
  margin-bottom: 35px;
}

/* SUMMARY */

.report-summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 35px;
}

.summary-card {
  background: #10151d;
  border: 1px solid #1f3242;
  border-radius: 18px;
  padding: 28px;
  text-align: center;
  transition: 0.35s;
}

.summary-card:hover {
  transform: translateY(-6px);
  border-color: #00f7ff;
  box-shadow: 0 0 20px rgba(0, 247, 255, 0.18);
}

.summary-card svg {
  font-size: 42px;
  color: #00f7ff;
  margin-bottom: 15px;
}

.summary-card h2 {
  color: white;
  font-size: 34px;
  margin: 0;
}

.summary-card p {
  color: #8c99a7;
  margin-top: 10px;
}

.summary-card.danger svg {
  color: #ff4365;
}

/* SECURITY STATUS */

.overall-status {
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 18px;
  background: #10151d;
  border: 1px solid #1f3242;
}

.overall-status h2 {
  color: white;
  margin: 0;
}

.safe {
  color: #00ff99;
}

.danger {
  color: #ff4365;
}

/* TABLE */

.threat-table {
  background: #10151d;
  border-radius: 18px;
  border: 1px solid #1f3242;
  overflow: hidden;
}

.threat-table h2 {
  padding: 22px;
  color: #00f7ff;
  margin: 0;
  border-bottom: 1px solid #1f3242;
}

.threat-table table {
  width: 100%;
  border-collapse: collapse;
}

.threat-table th {
  background: #111827;
  color: #00f7ff;
  padding: 18px;
  text-align: center;
}

.threat-table td {
  padding: 18px;
  color: #d6deea;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.threat-table tbody tr {
  transition: 0.3s;
}

.threat-table tbody tr:hover {
  background: #151c25;
}

/* BUTTONS */

.report-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 18px;
}

.report-buttons button {
  border: none;
  padding: 14px 24px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.report-buttons button:first-child {
  background: #00c853;
  color: white;
}

.report-buttons button:last-child {
  background: #00bcd4;
  color: #081018;
}

.report-buttons button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.25);
}

/* MOBILE */

@media (max-width: 900px) {
  .report-summary {
    grid-template-columns: 1fr;
  }

  .report-buttons {
    flex-direction: column;
  }

  .report-buttons button {
    width: 100%;
  }
}
.warning {
  color: #ffd000;
  font-weight: 700;
}
